body {
    margin: 0;
    padding: 0;
}

.hello {
    background-color: black;
    color: green;
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 100px;

}